In [1]:
from anndata import AnnData
import anndata
from scipy import sparse
import scipy
import scipy.io
import os
import pandas as pd

In [2]:
unspliced = anndata.AnnData(scipy.io.mmread("unspliced.mtx").tocsr())
unspliced.obs = pd.read_csv("unspliced.barcodes.txt", index_col = 0, header = None, names = ['barcodes'])
unspliced.var = pd.read_csv("unspliced.genes.txt", header = None, index_col = 0, names = ['ensembl_id'], sep="\t")
print(unspliced)

AnnData object with n_obs × n_vars = 57398 × 60676

In [3]:
spliced = anndata.AnnData(scipy.io.mmread("spliced.mtx").tocsr())
spliced.obs = pd.read_csv("spliced.barcodes.txt", index_col = 0, header = None, names = ['barcodes'])
spliced.var = pd.read_csv("spliced.genes.txt", header = None, index_col = 0, names = ['ensembl_id'], sep="\t")
print(spliced)

AnnData object with n_obs × n_vars = 57394 × 60676

In [4]:
unspliced.obs.head()

Empty DataFrame
Columns: []
Index: [AAAAAAACATAC, AAAAAAATTAGC, AAAAAACAAAGT, AAAAAACCAACA, AAAAAACCAGTA]

In [5]:
unspliced.var.head()

Empty DataFrame
Columns: []
Index: [ENSG00000001460.18, ENSG00000001461.17, ENSG00000010072.16, ENSG00000008118.10, ENSG00000009780.15]

# Sum the spliced and unspliced

In [6]:
idx = spliced.obs.index.intersection(unspliced.obs.index)
spliced_intersection = spliced[idx]
unspliced_intersection = unspliced[idx]

In [7]:
spliced_intersection.X + unspliced_intersection.X

<57394x60676 sparse matrix of type '<class 'numpy.float32'>'
	with 4112878 stored elements in Compressed Sparse Row format>

In [8]:
spliced_plus_unspliced = spliced_intersection.copy()
spliced_plus_unspliced.X = spliced_intersection.X + unspliced_intersection.X
spliced_plus_unspliced

AnnData object with n_obs × n_vars = 57394 × 60676

In [9]:
spliced_plus_unspliced.write(filename="adata.h5ad", )